@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Varela+Round&display=swap');


*{
    padding:0px;
    margin: 0px;
}
div{
    padding: 5px;
    margin: 5px;
}

.menu{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #ffffff;
    margin: 2vh;
}

.logo img{
    display: inline-block;
    height: 10vh;
    margin: 0px;
    padding: 0px;
    border: black 2px;
    border-radius: 100%;
}

.background{
    background-image: url(images/women.jpg);
    background-size: cover;
    width: 100%; 
}

.background1{
    background-image: url(images/eyes.jpg);
    background-size: cover;
    width: 100;
}

.background2{
    background-image: url(images/4.jpg);
    background-size: cover;
    width: 100%
}
.buttons{
    font-family: 'Varela Round', sans-serif;
    border: 2px solid black;
    display: inline-block;
    font-size: large;
    text-transform: lowercase;
    font-weight: 600;
    transition:.4s;
    margin: 10px;
    padding: 4px;
    border-radius: 10%;
    background: #DEECFF;
}
#homex{
    background-color: #B2D6FF;
}

#bgx{
    background-color: #B2D6FF;
}

#contentx{
    background-color: #B2D6FF;
}
.buttons:hover{
    transition: .4s;
    font-size: larger;
    padding: 10px;
}
#buttonsgroup{
    display: inline;
    float: right;
    margin: 5px;
}
.buttons a{
    text-decoration: none;
    color: black;
}

.banner{
    background-image: url(images/butterfly.jpg);
    background-position: center;
    height: 20vh;
    padding: 10vh;
    margin-top: 10vh;
    margin-right:40vh;
    margin-left:40vh;
    margin-bottom:5vh;
    border-radius: 5%;
    border: 4px solid rgb(194, 226, 248);
}

.letsgo{
    text-align: center;
}
.letsgo a{
    border: 2px solid rgb(88, 148, 216);
    text-decoration: none;
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    padding: .5em;
    margin-bottom: .5em;
    background-color: rgb(255, 255, 255);
    color: #5894d8;
    border-radius: 5%;
    font-size: 2em;
}

.letsgo a:hover{
    background-color: rgb(88, 148, 216);
    border-color: white;
    color: white;
    transition: .4s ;
}

.title h1{
    text-align: center;
    color: #5894d8;
    font-family: 'Varela Round', sans-serif;
}

.title h3{
    text-align: center;
    color:#5894d8;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.footer{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #ffffff;
    height: 10vh;
    margin-bottom: 0vh;
}

.copyright{
    font-family: 'Varela Round', sans-serif;
    float: left;
}

.links img{
    float: right;
    height: 5vh;
    margin: 5px;
    padding: 5px;
}

.larrow img{
   height: 7vh;
   margin-top: 12%;
   margin-bottom: 12%;
   float: left;
}

.larrow img:hover{
    height: 9vh;
    transition: .4s;
}

.titler h1{
    background-color: #B2D6FF;
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    padding:.5em;
    margin-right: 15em;
    margin-left: 15em;
    margin-top: 5vh;
    font-family: 'Varela Round', sans-serif;
}

.titler h3{
    background-color: #B2D6FF;
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    padding:2em;
    margin-right: 15em;
    margin-left: 15em;
    margin-top: 7vh;
    margin-bottom: 2.5em;
    font-family: 'Varela Round', sans-serif;
}

.rarrowdata img{
    height: 7vh;
    float: right;
    margin-top: -24%;
 }
 
 .rarrowdata img:hover{
     height: 9vh;
     transition: .4s;
 }

 .rarrow img{
    height: 7vh;
    float: right;
    margin-top: -19%;
 }
 
 .rarrow img:hover{
     height: 9vh;
     transition: .4s;
 }

 .coc{
    float: left;
    display: inline;
    margin-left: 10vh;
 }
 .coctitle{
    background-color: #B2D6FF;
    border: 2px solid black;
    border-radius: 10%;
    margin-left: 5vh;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
    width: 40vh;
 }

 .cocdesc{
    background-color: #DEECFF;
    border: 2px solid black;
    border-radius: 5%;
    width: 50vh;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
    height: 60vh;
 }

 .cocdesc img{
    width: 80%;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10%;
 }

 .wcl{
    display: inline-block;
 }
 .wcltitle{
    background-color: #DEECFF;
    border: 2px solid black;
    border-radius: 10%;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
    width: 40vh;
    margin-left: 10vh;
    margin-right: 10vh;
    
 }
 .wcldesc{
    background-color: #B2D6FF;
    border: 2px solid black;
    border-radius: 5%;
    float: center;
    width: 50vh;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
    height: 60vh;
    margin-left: 5vh;
    margin-right: 10vh;
 }

 .wcldesc img{
    width: 90%;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10%;
 }

 .wpp{
    float: right;
    display: inline;
    margin-right: 5vh;
    padding: 0px;
    margin-left: -10vh;
 }

 .wpptitle{
    background-color: #B2D6FF;
    border: 2px solid black;
    border-radius: 10%;
    margin-right: 11vh;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
    width: 45vh;
 }

 .wppdesc{
    background-color: #DEECFF;
    border: 2px solid black;
    border-radius: 5%;
    width: 50vh;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
    height: 60vh;
    float: right;
    margin-right: 15vh;

 }

 .wppdesc img{
    width: 80%;
    margin: 5px;
    border: 3px solid black;
    border-radius: 10%;
 }

 .conclusion h1{
    background-color: #DEECFF;
    border: 2px solid black;
    border-radius: 5%;
    padding:.5em;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    text-align: center;
 }
 
